@using (Ajax.BeginForm("CheckUrl", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "GET", LoadingElementId = "loading"}))
{
    <input type="text" name="url" />
    <input type="submit" value="Check" />
    @Html.ActionLink("History", "History");
}

<img id="loading" src="@Url.Content("~/Content/loading.gif")" style="display: none" class="loading"/>

<div id="results"></div>