@model List<LoadCheck.Core.ViewModels.UrlResponseTimes>

<div id="chartContainer" class="chart-container">
    @{
        Html.RenderPartial("Chart", Model);
    }
</div>

<div class="table-container">
    @Html.Partial("Table", Model);
</div>


